*{
  border: dotted rgb(153, 144, 144);
  
}
h1{
    /*margin top right bottom left*/
    margin: 0 auto;
    width: 100px;
  
}
    h1 {
        background-color: yellow;
        
    }
    h2 {
        background-color:coral;
        color:darkred;

    }
    ul{
        background-color:coral;
        color:blueviolet;

    }

    .container{
        margin: 0 auto;
        width: 960px;
    }

    .tomatify{
        color: tomato;
    }
    .yellowy{
        background-color:yellow;
    }

    .black{
        background-color:rgb(11, 41, 27);
    }
    #content {
        background-color: rgb(119, 17, 122);
    }
