* {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    background-color: gray;
    font-size: 20px;
  }
  
  h3:first-of-type {
    margin-top: 10px;
  }
  
  hr {
    margin: 20px 0;
  }
  
  figure {
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    text-indent: 10px;
  }
  
  p:not(:first-of-type) {
    margin: 10px 5px;
  }
  
  #navigation {
    background: rgb(116, 112, 112);
    padding: 16px;
    text-transform: uppercase;
    position: fixed;
    width: 100%; 
    top: 0;
    left: 0;
  }

    #navigation > ul > li {
        position: relative;
    }
    #navigation > ul > li:hover > ul {
        display: block;
    }
  
  #navigation > ul > li > ul {
      position: absolute;
      background-color: rgb(32, 63, 32);
      display: none;
      top: 0;
      left: 0;

  }
  
  #navigation a {
    display: inline-block;
    /* We need block or inline-block to have some properties like 'min-width' to have any effect. */
    min-width: 48px;
  }
  
  #navigation > ul > li {
    display: inline;
    margin-right: 25px;
    text-decoration: none;
  }
  
  #header {
  
    color: rgb(174, 202, 188);
    padding-top: 100px;
  }
  
  #content {
    background: whitesmoke;
    /* padding: 10px 0; */
  }
  
  .flt-lft {
    float: left;
    margin-right: 20px;
  }
  
  .container {
    margin: auto;
    width: 960px;
  }
  
  .container > div {
    padding-top: 10px;
  }
  
  li:hover {
    background: rgb(27, 58, 39);
  }